<?xml version="1.0" encoding="UTF-8" ?>

<phpunit bootstrap="vendor/autoload.php" colors="always" verbose="true">
    <testsuites>
        <testsuite name="Unit Tests">
            <directory suffix='.php'>./tests/unit/model/</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <!-- <directory>model/common/class.User.php</directory> -->
            <directory>model</directory>
        </whitelist>
    </filter>
</phpunit>